table, th, td {
    border: 1px solid black;
    text-align: center;
}

.table-main {
    height: 500px;
    width: 500px;
    position: relative;
    margin: auto auto;
    margin-top: 5%;
}

.table-inner {
    height: 100%;
    width: 100%;
}

tr td {
    width: 33%;
    height: 33%;
}

.btn-toolbar {
    position: relative;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 50px;
}

.btn-group-vertical {
    position: relative;
    margin-left: 33%;
    margin-right: 33%;
}

.btn-group.mr-2 {
    width: 200px;
}

button {
    margin: 3px 3px;
    width: 100px;
    height: 70px;
}

.alert {
    text-align: center;
}